<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>The Wishing App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="centered">
        <div id="wrapper">
            {% if messages %}
            <div id='errors'>
                {% for message in messages %}
                    <p>- {{message}} -</p>
                {% endfor %}
            </div>
        {% endif %}
        <div id="top-nav">
            <h1>Hello {{request.session.greeting}}! Let's edit your wish!</h1>
            <a href="/logout">Logout</a>
            </div>
<form action="/wishes/{{ wish.id }}/update" method="POST">
    {% csrf_token %}
    <label for="new_wish">I wish for:</label>
    <input type="text" name="new_wish" id="new_wish" class="form-control" placeholder="{{wish.wish_item}}">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" class="form-control" placeholder="{{wish.description}}">
    </form>
    <a href="/wishes" role="button" class="btn btn-primary">Submit</button>
    <a href="/wishes" role="button" class="btn btn-danger">Cancel</a>
</div>
</body>
</html>
